@font-face {
    font-family: 'Acorn';
    src: url('fonts/Acorn-regular.otf') format('truetype');
}

body{
    font-family: 'Acorn', sans-serif;
}

ul,.Hero,.Ac{
    font-family: 'Acorn', sans-serif;
}

